@model LoginViewModel

<h1>login view</h1>

<form method="post" action="/Home/Login">
    <div class="row">
        <div class="col-sm-3">
            <label>User Name</label>
        </div>
        <div class="col-sm-3">
            <input type="text" asp-for="UserName" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label>Password</label>
        </div>
        <div class="col-sm-3">
            <input type="password" asp-for="Password" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <input type="submit" value="Login" />
        </div>
    </div>
</form>